#six, #four {
    display: none;
}

table {
    margin:1em auto;
}

td {
    height:30px;
    width:30px;
    border:1px solid;
    text-align:center;
}

td:first-child {
    border-left:solid;
}

#six td:nth-child(3n) ,#nine td:nth-child(3n) {
    border-right:solid ;
}

tr:first-child {
    border-top:solid;
}

#nine tr:nth-child(3n) td {
    border-bottom:solid ;
}

#four tr:nth-child(2n) td, #six tr:nth-child(2n) td {
    border-bottom:solid ;
}

#four td:nth-child(2n) {
    border-right:solid ;
}

input {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    font-size: 15px;
}

.readonly {
    font-weight: bold;
}

/* Disabling the scroll wheel for the input type=number fields. Got that from w3scools */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}